 #header3
{
	font-family: calibri, Geneva;
	font-size: 30px;
	color:white;
        text-align:center;
        padding:5px;
	border-radius: 80px;
	width: auto;
	 margin: 10px 320PX;
}       
#parrafo
{
          font-size: 60px
          font-family: tahoma;
          text-align:center;
          color:white; 
          text-align: justify;
}
#parrafoVideo
{ 
          text-align: center;
}
#pie
{
	text-align: center;
	font-family: tahoma;
	font-size: 11pt;
	margin-top: 242px;
	text-decoration: none;
}
#Ps
{
	text-decoration: none;
	color:black;
}

#table1
{
	width: 1410px;
	padding: 20px 20px;
	background:#A4A4A4;
	height:100px;
    margin:0px -20px;
    width: 1348px; 
    border-radius: 7px;     
    border-color: #E6E6E6;
}
#img
{
       border-radius: 8px;     
}

#video{
	border-radius: 5px;
	align-items: center;
}

#botones{
height: 30px;
width: 60px;
border-radius: 4px;
}
#tablaboton{
margin-top: -820px;
}
.container{
  position: relative;
  top: 10px;
  width: 22px;
  height: 122px;
  margin: auto;
  background: none;
}