
#form-bg: #13232f;
#blanco: #fff;

$color-principal: #1ab188;
$color-principal-light: #00cc2b($color-principal,5%);
$color-principal-dark: darken($color-principal,5%);

$gris-light: #a0b3b0;
$gris: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

$fuente-principal: "tahoma", Geneva;
$fuente-secundaria: "Raleway", arial;

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: $body-bg;
    font-family: $fuente-principal;
}

a {
    text-decoration: none;
    color: $color-principal;
    transition: .5s ease;
    
    &:hover {
        color: $color-principal-dark;
    }
}

.contenedor-formularios {
    background: rgba($form-bg,.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: $br;
    box-shadow: 0 4px 10px 4px rgba($form-bg,.3);
}

.contenedor-tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    
    &:after {
        content: "";
        display: table;
        clear: both;
    }
  
    li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgba($gris-light,.25);
        color: $gris-light;
        font-size: 20px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;
        
        &:hover {
            background: $color-principal-dark;
            color: $blanco;
        }
    }
    
    .active a {
        background: $color-principal;
        color: $blanco;
    }
}

.contenido-tab > div:last-child {
    display: none;
}


h1 {
    text-align: center;
    color: $blanco;
    font-weight: $thin;
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba($blanco,.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
    
    .req {
        margin: 2px;
        color: $color-principal;
    }
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
    
    .req {
        opacity: 0;
    }
}

label.highlight {
    color: $blanco;
}

input {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid $gris-light;
    border-top: none;
    border-left: none;
    border-right: none;
    color: $blanco;
    border-radius: 0;
    transition: all 0.5s ease;
    border-radius: 5px;
    &:focus {
        outline: none;
        border-color: $color-principal;
    }
}

.contenedor-input {
    position: relative;
    margin-bottom: 40px;
}

.fila-arriba {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    div {
        float: left;
        width: 48%;
        margin-right: 4%;
        
        &:last-child { 
            margin: 0;
        }
    }
}

.button {

    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    font-size: 2rem;
    background: $color-principal;
    color: $blanco;
    transition: all .5s ease;
    -webkit-appearance: none;
    
    &:hover, &:focus {
        background: $color-principal-dark;
    }
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
    margin-bottom: 20px;
}

// Mediaqueries
@media screen and (max-width: 500px) {
    .fila-arriba {
        div {
            width: 100%;

            &:last-child {
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .contenedor-tabs {
        li a {
            width: 100%;
        }
    }
}

input[type="button"] {
  cursor:pointer;
  width:10%;
  border: 0.1px solid #FFFFFF;
  background:red;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

input[type="button"]:hover {
  background: #C0C0C0;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

input[type="button"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.button{
    border: none;
    width: 20%;
    color: white;
    font-size: 20px;
    background:  #2DA593;
    padding: 3px 120px;
    border-radius: 0.1px;
    cursor: pointer;
    text-align: center;
}
.button:hover{
    background: red;
}

