*{margin:0; padding:0;}
body{
  /*background:#E6E6E6;*/
  margin: 0px;
}
/*ESTILO PARA LA CABECERA(EL MENU)*/
header {
  width: 100%;
  overflow:hidden;
  background:#452958;
  margin-bottom:50px;

}

/*ESTILO PARA LA PARTE DE LA CABECERA(LI62TACION MENU)*/
#wrapper {
width: 420%;
max-width: 5505px;
padding-left: 462px;
border-radius: 2px;

}

/*ESTILO Y CORRECTA de MENU*/
header nav a {
color:#fff;
padding:10px 10px;
line-height:normal;
font-size:15pt;
text-decoration:none;
font-family: sans-serif;
-webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition:all 500ms ease;
}

/*ESTILO EN LOS BORDES DEL MENU*/
header nav a:hover { 
/*ESTILO DEL RELLENO Y BORDES(BOTONES) MENU*/
background:#F1D9EA;
border-radius:20px;
font-size: 20pt;
}
/*ESTILO PARA LAS CABECERAS*/
#header2  {
position:fixed;
height:100px;
}
/*Colocacion del Logo*/
#header2 #logo {
padding-top: 15px;
line-height:100px;
font-size:30px,

}
#header2 nav {

line-height:100px
}
#contenido{
padding-top:60px;
}
#contenido h1,p{
margin-bottom.1em;
}
.container{
	margin: 0 auto;
    max-width: calc(100% - 5em);
    width: 60em;
}