#seccion1
{
	width: 1510px;
	padding: 20px 20px;
	background:#BD71A8;
	height:338px;
        margin:9px 0px;
        width: 1308px;
        border-radius: 7px;        
}

#seccion2
{
	width: 1210px;
	padding: 10px 10px;
	background:#FFFFFF;
	height:200px;
        margin:10px 10px;
        width: 1308px;
        border-radius: 4px;

}

#seccion3
{
	width: 1510px;
	padding: 20px 20px;
	background:#875F7C;
	height:338px;
        margin:10px 10px;
        width: 1308px;
        border-radius: 7px;        
}

#seccion4
{
	width: 1510px;
	padding: 0px 20px;
	background:#EC95E9;
	height:338px;
        margin:0px 0px;
        width: 1308px;
        border-radius: 7px;        
}


#header3
{
	font-family: calibri, Geneva;
	font-size: 30px;
	color:white;
        text-align:center;
        padding:5px;
	border-radius: 20px;
}       
#parrafo
{
          font-size: 40px
          font-family: calibri;
          text-align:center;
          color:#1C1C1C; 
          text-align: justify;
}
#pie
{
	text-align: center;
	font-family: tahoma;
	font-size: 11pt;
	margin-top: -22px;
}
#Ps
{
	text-decoration: none;
	color:black;
}


.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #765486;
    border-radius: 6px;
    border: 2px solid #0A0A0A;
}
.boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
}


.imagen.derecha {
    float: right;
    margin: 0em 0 1em 0em;
}
.imagen.derecha p {
    margin: .5em 0;
    text-align: right;
}

.imagen.izquierda {
    float: left;
    margin: 0em 1em 0em 0;
}
.imagen.izquierda p {
    margin: .5em 0;
    text-align: right;

}


.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #8E5252;
    margin-top: 20px;
}

.row{
    margin-top: 20px;
    display: flex;
}

    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    

    .colum3{
        margin-top: 40px;
    }


.row img{
    width: 36px;
    height: 36px;
}

.row a{
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: #8E5252;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}


.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}
.container {

  top: 60px;
  max-width:350px;
  width:100%;
  margin:0 auto;
  position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="password"], #contact input[type="password"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px Arial, sans-serif; }

#contact {
  background: #B471A2;
  padding:45px;
  margin:50px 0;
}

#contact h3 {

  text-align: center;
  display: block;
  font-size: 40px;
  font-weight: 100;
}

#contact h4 {
  text-align-last: center;
  margin:5px 0 15px;
  display:block;
  font-size:15px;
}

#contact h4 a {
  font-size:12px;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="password"], #contact input[type="password"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="password"]:hover, #contact input[type="password"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background: rgba(0,0,0,0.9);
  color:#F9F9F9;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background: red;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}